<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"metadata":{"name":"Post"},"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0"><!-- wp:group {"metadata":{"name":"Article"},"tagName":"article","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|70"},"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"}} -->
<article class="wp-block-group" style="padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:pattern {"slug":"fieldnotes/post-header"} /-->

<!-- wp:post-featured-image {"aspectRatio":"16/9","align":"wide"} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

<!-- wp:pattern {"slug":"fieldnotes/post-footer"} /-->

<!-- wp:pattern {"slug":"fieldnotes/comments"} /--></article>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"fieldnotes/related-posts"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
